<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.erp.mapper.ErpInboundOrderDetailMapper">

    <resultMap type="ErpInboundOrderDetail" id="ErpInboundOrderDetailResult">
        <id property="inboundDetailId" column="inbound_detail_id"/>
        <result property="inboundOrderId" column="inbound_order_id"/>
        <result property="inboundOrderNo" column="inbound_order_no"/>
        <result property="sourceDetailId" column="source_detail_id"/>
        <result property="itemType" column="item_type"/>
        <result property="itemId" column="item_id"/>
        <result property="itemCode" column="item_code"/>
        <result property="itemName" column="item_name"/>
        <result property="colorName" column="color_name"/>
        <result property="sizeName" column="size_name"/>
        <result property="specName" column="spec_name"/>
        <result property="batchNo" column="batch_no"/>
        <result property="locationCode" column="location_code"/>
        <result property="planQty" column="plan_qty"/>
        <result property="inboundQty" column="inbound_qty"/>
        <result property="unitName" column="unit_name"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="amount" column="amount"/>
        <result property="productionDate" column="production_date"/>
        <result property="expireDate" column="expire_date"/>
        <result property="qualityStatus" column="quality_status"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="selectDetailByOrderId" parameterType="Long" resultMap="ErpInboundOrderDetailResult">
        select inbound_detail_id, inbound_order_id, inbound_order_no, source_detail_id, item_type, item_id,
               item_code, item_name, color_name, size_name, spec_name, batch_no, location_code,
               plan_qty, inbound_qty, unit_name, unit_price, amount, production_date, expire_date,
               quality_status, remark
        from erp_inbound_order_detail
        where inbound_order_id = #{inboundOrderId}
        order by inbound_detail_id asc
    </select>

    <insert id="batchInsertDetail" parameterType="java.util.List">
        insert into erp_inbound_order_detail(inbound_order_id, inbound_order_no, source_detail_id, item_type, item_id,
            item_code, item_name, color_name, size_name, spec_name, batch_no, location_code, plan_qty, inbound_qty,
            unit_name, unit_price, amount, production_date, expire_date, quality_status, create_by, create_time, remark)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.inboundOrderId}, #{item.inboundOrderNo}, #{item.sourceDetailId}, #{item.itemType}, #{item.itemId},
             #{item.itemCode}, #{item.itemName}, #{item.colorName}, #{item.sizeName}, #{item.specName}, #{item.batchNo},
             #{item.locationCode}, #{item.planQty}, #{item.inboundQty}, #{item.unitName}, #{item.unitPrice}, #{item.amount},
             #{item.productionDate}, #{item.expireDate}, #{item.qualityStatus}, #{item.createBy}, sysdate(), #{item.remark})
        </foreach>
    </insert>

    <delete id="deleteDetailByOrderId" parameterType="Long">
        delete from erp_inbound_order_detail where inbound_order_id = #{inboundOrderId}
    </delete>

    <delete id="deleteDetailByOrderIds" parameterType="Long">
        delete from erp_inbound_order_detail where inbound_order_id in
        <foreach collection="array" item="inboundOrderId" open="(" separator="," close=")">#{inboundOrderId}</foreach>
    </delete>
</mapper>
