-- MySQL dump 10.13  Distrib 5.7.44, for Win64 (x86_64)
--
-- Host: localhost    Database: ry-vue
-- ------------------------------------------------------
-- Server version	5.7.44-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `erp_customer`
--

DROP TABLE IF EXISTS `erp_customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_customer` (
  `customer_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '客户ID',
  `customer_code` varchar(40) NOT NULL COMMENT '客户编码',
  `customer_name` varchar(100) NOT NULL COMMENT '客户名称',
  `customer_type` varchar(20) DEFAULT '品牌客户' COMMENT '客户类型，如品牌客户、批发客户、门店客户、电商客户',
  `contact_name` varchar(50) DEFAULT NULL COMMENT '联系人',
  `contact_phone` varchar(30) DEFAULT NULL COMMENT '联系电话',
  `contact_email` varchar(100) DEFAULT NULL COMMENT '联系邮箱',
  `province` varchar(50) DEFAULT NULL COMMENT '省份',
  `city` varchar(50) DEFAULT NULL COMMENT '城市',
  `county` varchar(50) DEFAULT NULL COMMENT '区县',
  `address` varchar(255) DEFAULT NULL COMMENT '详细地址',
  `credit_limit` decimal(14,2) DEFAULT '0.00' COMMENT '信用额度',
  `settlement_type` varchar(30) DEFAULT NULL COMMENT '结算方式，如月结、预付款、货到付款',
  `status` char(1) DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `del_flag` char(1) DEFAULT '0' COMMENT '删除标志（0存在 2删除）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`customer_id`),
  UNIQUE KEY `uk_erp_customer_code` (`customer_code`),
  KEY `idx_erp_customer_name` (`customer_name`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COMMENT='客户档案表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_customer`
--

LOCK TABLES `erp_customer` WRITE;
/*!40000 ALTER TABLE `erp_customer` DISABLE KEYS */;
INSERT INTO `erp_customer` VALUES (31,'CUS-FLOW-001','杭州星芽童装品牌有限公司','品牌客户','陈晓云','13857010001','buyer01@xingya-kids.com','浙江省','杭州市','滨江区','滨盛路童装产业园A座201',300000.00,'月结30天','0','0','admin','2026-05-31 13:25:07','',NULL,'用于测试销售订单与成衣出库'),(32,'CUS-FLOW-002','上海暖树儿童用品有限公司','品牌客户','刘安琪','13916020002','liuanqi@warmtree.cn','上海市','上海市','闵行区','虹梅南路儿童生活馆5楼',500000.00,'月结45天','0','0','admin','2026-05-31 13:25:07','',NULL,'用于测试大客户订单');
/*!40000 ALTER TABLE `erp_customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_cut_order`
--

DROP TABLE IF EXISTS `erp_cut_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_cut_order` (
  `cut_order_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '裁剪单ID',
  `cut_order_no` varchar(40) NOT NULL COMMENT '裁剪单编号',
  `production_order_id` bigint(20) NOT NULL COMMENT '生产订单ID',
  `production_order_no` varchar(40) NOT NULL COMMENT '生产订单编号',
  `sales_order_id` bigint(20) DEFAULT NULL COMMENT '销售订单ID',
  `sales_order_no` varchar(40) DEFAULT NULL COMMENT '销售订单编号',
  `customer_id` bigint(20) DEFAULT NULL COMMENT '客户ID',
  `customer_name` varchar(100) DEFAULT NULL COMMENT '客户名称',
  `plan_finish_time` datetime NOT NULL COMMENT '计划完成时间',
  `finish_time` datetime DEFAULT NULL COMMENT '实际完成时间',
  `total_qty` decimal(14,3) DEFAULT '0.000' COMMENT '裁剪计划数量',
  `cut_status` int(2) DEFAULT '0' COMMENT '裁剪状态：0待裁剪 1裁剪中 2已完成 3已取消',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`cut_order_id`),
  UNIQUE KEY `uk_erp_cut_order_no` (`cut_order_no`),
  UNIQUE KEY `uk_erp_cut_production` (`production_order_id`),
  KEY `idx_erp_cut_timeout` (`cut_status`,`plan_finish_time`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COMMENT='裁剪单主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_cut_order`
--

LOCK TABLES `erp_cut_order` WRITE;
/*!40000 ALTER TABLE `erp_cut_order` DISABLE KEYS */;
INSERT INTO `erp_cut_order` VALUES (1,'CJ20260601144815',4,'MO-DEMO-001',NULL,NULL,31,'杭州星芽童装品牌有限公司','2026-06-18 00:00:00','2026-06-01 15:17:39',300.000,2,'admin','2026-06-01 14:48:15','admin','2026-06-01 15:17:39','由生产订单 MO-DEMO-001 生成'),(2,'CJ20260601152737',5,'MO20260601151702',NULL,'pdd-20260601',NULL,'拼多多','2026-06-08 00:00:00','2026-06-01 15:29:11',10.000,2,'admin','2026-06-01 15:27:37','admin','2026-06-01 15:29:10','由生产订单 MO20260601151702 生成');
/*!40000 ALTER TABLE `erp_cut_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_cut_order_detail`
--

DROP TABLE IF EXISTS `erp_cut_order_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_cut_order_detail` (
  `cut_detail_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '裁剪单明细ID',
  `cut_order_id` bigint(20) NOT NULL COMMENT '裁剪单ID',
  `cut_order_no` varchar(40) NOT NULL COMMENT '裁剪单编号',
  `production_order_detail_id` bigint(20) DEFAULT NULL COMMENT '生产订单明细ID',
  `style_id` bigint(20) DEFAULT NULL COMMENT '款式ID',
  `sku_id` bigint(20) DEFAULT NULL COMMENT '款式SKU ID',
  `style_no` varchar(60) DEFAULT NULL COMMENT '款号',
  `style_name` varchar(100) DEFAULT NULL COMMENT '款式名称',
  `color_name` varchar(50) DEFAULT NULL COMMENT '颜色',
  `size_name` varchar(50) DEFAULT NULL COMMENT '尺码',
  `plan_qty` decimal(14,3) DEFAULT '0.000' COMMENT '计划裁剪数量',
  `cut_qty` decimal(14,3) DEFAULT '0.000' COMMENT '已裁剪数量',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`cut_detail_id`),
  KEY `idx_erp_cut_detail_order` (`cut_order_id`),
  KEY `idx_erp_cut_detail_sku` (`sku_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COMMENT='裁剪单明细表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_cut_order_detail`
--

LOCK TABLES `erp_cut_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_cut_order_detail` DISABLE KEYS */;
INSERT INTO `erp_cut_order_detail` VALUES (3,1,'CJ20260601144815',1,29,76,'KDS-FLOW-001','云朵印花短袖T恤','象牙白','110',120.000,0.000,'admin','2026-06-01 14:49:43','',NULL,NULL),(4,1,'CJ20260601144815',2,29,77,'KDS-FLOW-001','云朵印花短袖T恤','象牙白','120',180.000,0.000,'admin','2026-06-01 14:49:43','',NULL,NULL),(6,2,'CJ20260601152737',3,30,78,'KDS-FLOW-002','拼色连帽卫衣','浅花灰','120',10.000,10.000,'admin','2026-06-01 15:29:05','',NULL,NULL);
/*!40000 ALTER TABLE `erp_cut_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_cutting_order`
--

DROP TABLE IF EXISTS `erp_cutting_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_cutting_order` (
  `cutting_order_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '裁剪单ID',
  `cutting_order_no` varchar(40) NOT NULL COMMENT '裁剪单编号',
  `production_order_id` bigint(20) NOT NULL COMMENT '生产订单ID',
  `production_order_no` varchar(40) NOT NULL COMMENT '生产订单编号',
  `style_id` bigint(20) NOT NULL COMMENT '款式ID',
  `style_no` varchar(40) NOT NULL COMMENT '款号',
  `color_name` varchar(50) DEFAULT NULL COMMENT '颜色名称',
  `fabric_batch_no` varchar(60) DEFAULT NULL COMMENT '面料批次号或缸号',
  `cutting_bed_no` varchar(40) DEFAULT NULL COMMENT '裁床号',
  `layer_count` int(11) DEFAULT '0' COMMENT '铺布层数',
  `plan_qty` decimal(14,3) DEFAULT '0.000' COMMENT '计划裁剪数量',
  `cut_qty` decimal(14,3) DEFAULT '0.000' COMMENT '实际裁剪数量',
  `loss_qty` decimal(14,3) DEFAULT '0.000' COMMENT '裁剪损耗数量',
  `cutting_status` varchar(20) DEFAULT '待裁剪' COMMENT '裁剪状态，如待裁剪、裁剪中、已完成',
  `operator_name` varchar(64) DEFAULT NULL COMMENT '裁剪负责人',
  `start_time` datetime DEFAULT NULL COMMENT '开始时间',
  `finish_time` datetime DEFAULT NULL COMMENT '完成时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`cutting_order_id`),
  UNIQUE KEY `uk_erp_cutting_order_no` (`cutting_order_no`),
  KEY `idx_erp_cutting_order_production_id` (`production_order_id`),
  KEY `idx_erp_cutting_order_style_id` (`style_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='裁剪单表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_cutting_order`
--

LOCK TABLES `erp_cutting_order` WRITE;
/*!40000 ALTER TABLE `erp_cutting_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_cutting_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_delivery_order`
--

DROP TABLE IF EXISTS `erp_delivery_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_delivery_order` (
  `delivery_order_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '发货单ID',
  `delivery_order_no` varchar(40) NOT NULL COMMENT '发货单编号',
  `sales_order_id` bigint(20) DEFAULT NULL COMMENT '销售订单ID',
  `sales_order_no` varchar(40) DEFAULT NULL COMMENT '销售订单编号',
  `customer_id` bigint(20) NOT NULL COMMENT '客户ID',
  `customer_name` varchar(100) NOT NULL COMMENT '客户名称',
  `delivery_date` date NOT NULL COMMENT '发货日期',
  `delivery_qty` decimal(14,3) DEFAULT '0.000' COMMENT '发货总件数',
  `carton_count` int(11) DEFAULT '0' COMMENT '箱数',
  `logistics_company` varchar(100) DEFAULT NULL COMMENT '物流公司',
  `tracking_no` varchar(100) DEFAULT NULL COMMENT '物流单号',
  `receiver_name` varchar(50) DEFAULT NULL COMMENT '收货人',
  `receiver_phone` varchar(30) DEFAULT NULL COMMENT '收货电话',
  `receiver_address` varchar(255) DEFAULT NULL COMMENT '收货地址',
  `delivery_status` varchar(20) DEFAULT '待发货' COMMENT '发货状态，如待发货、已发货、已签收、已取消',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`delivery_order_id`),
  UNIQUE KEY `uk_erp_delivery_order_no` (`delivery_order_no`),
  KEY `idx_erp_delivery_order_sales_no` (`sales_order_no`),
  KEY `idx_erp_delivery_order_customer_id` (`customer_id`),
  KEY `idx_erp_delivery_order_date` (`delivery_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='发货单表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_delivery_order`
--

LOCK TABLES `erp_delivery_order` WRITE;
/*!40000 ALTER TABLE `erp_delivery_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_delivery_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_inbound_order`
--

DROP TABLE IF EXISTS `erp_inbound_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_inbound_order` (
  `inbound_order_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '入库单ID',
  `inbound_order_no` varchar(40) NOT NULL COMMENT '入库单编号',
  `inbound_type` varchar(30) NOT NULL COMMENT '入库类型，如采购入库、生产入库、销售退货、盘盈入库、其他入库',
  `source_type` varchar(30) DEFAULT NULL COMMENT '来源类型，如采购订单、生产订单、销售退货单、手工创建',
  `source_no` varchar(40) DEFAULT NULL COMMENT '来源单号',
  `supplier_id` bigint(20) DEFAULT NULL COMMENT '供应商ID，采购入库使用',
  `supplier_name` varchar(100) DEFAULT NULL COMMENT '供应商名称',
  `customer_id` bigint(20) DEFAULT NULL COMMENT '客户ID，销售退货使用',
  `customer_name` varchar(100) DEFAULT NULL COMMENT '客户名称',
  `warehouse_id` bigint(20) NOT NULL DEFAULT '0' COMMENT '入库仓库ID',
  `warehouse_name` varchar(80) NOT NULL COMMENT '入库仓库名称',
  `inbound_date` date NOT NULL COMMENT '入库日期',
  `total_qty` decimal(14,3) DEFAULT '0.000' COMMENT '入库总数量',
  `total_amount` decimal(14,2) DEFAULT '0.00' COMMENT '入库总金额',
  `order_status` varchar(20) DEFAULT '草稿' COMMENT '单据状态，如草稿、已审核、已入库、已作废',
  `audit_by` varchar(64) DEFAULT NULL COMMENT '审核人',
  `audit_time` datetime DEFAULT NULL COMMENT '审核时间',
  `post_by` varchar(64) DEFAULT NULL COMMENT '过账人',
  `post_time` datetime DEFAULT NULL COMMENT '过账时间',
  `cancel_by` varchar(64) DEFAULT NULL COMMENT '作废人',
  `cancel_time` datetime DEFAULT NULL COMMENT '作废时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`inbound_order_id`),
  UNIQUE KEY `uk_erp_inbound_order_no` (`inbound_order_no`),
  KEY `idx_erp_inbound_order_type` (`inbound_type`),
  KEY `idx_erp_inbound_order_source` (`source_type`,`source_no`),
  KEY `idx_erp_inbound_order_warehouse` (`warehouse_id`),
  KEY `idx_erp_inbound_order_date` (`inbound_date`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COMMENT='入库单主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_inbound_order`
--

LOCK TABLES `erp_inbound_order` WRITE;
/*!40000 ALTER TABLE `erp_inbound_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_inbound_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_inbound_order_detail`
--

DROP TABLE IF EXISTS `erp_inbound_order_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_inbound_order_detail` (
  `inbound_detail_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '入库单明细ID',
  `inbound_order_id` bigint(20) NOT NULL COMMENT '入库单ID',
  `inbound_order_no` varchar(40) NOT NULL COMMENT '入库单编号',
  `source_detail_id` bigint(20) DEFAULT NULL COMMENT '来源单据明细ID',
  `item_type` varchar(20) NOT NULL COMMENT '库存对象类型，如成衣、物料',
  `item_id` bigint(20) NOT NULL COMMENT '库存对象ID，成衣对应款式SKU ID，物料对应物料SKU ID',
  `item_code` varchar(80) NOT NULL COMMENT '库存对象编码',
  `item_name` varchar(100) NOT NULL COMMENT '库存对象名称',
  `color_name` varchar(50) DEFAULT NULL COMMENT '颜色名称',
  `size_name` varchar(50) DEFAULT NULL COMMENT '尺码名称，成衣使用',
  `spec_name` varchar(100) DEFAULT NULL COMMENT '规格名称，物料使用',
  `batch_no` varchar(60) DEFAULT '' COMMENT '批次号',
  `location_code` varchar(40) DEFAULT NULL COMMENT '库位编码',
  `plan_qty` decimal(14,3) DEFAULT '0.000' COMMENT '计划入库数量',
  `inbound_qty` decimal(14,3) NOT NULL DEFAULT '0.000' COMMENT '实际入库数量',
  `unit_name` varchar(20) NOT NULL COMMENT '单位',
  `unit_price` decimal(14,4) DEFAULT '0.0000' COMMENT '入库单价',
  `amount` decimal(14,2) DEFAULT '0.00' COMMENT '入库金额',
  `production_date` date DEFAULT NULL COMMENT '生产日期',
  `expire_date` date DEFAULT NULL COMMENT '失效日期',
  `quality_status` varchar(20) DEFAULT '待检' COMMENT '质检状态，如待检、合格、不合格、让步接收',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`inbound_detail_id`),
  KEY `idx_erp_inbound_detail_order_id` (`inbound_order_id`),
  KEY `idx_erp_inbound_detail_item` (`item_type`,`item_id`),
  KEY `idx_erp_inbound_detail_batch` (`batch_no`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COMMENT='入库单明细表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_inbound_order_detail`
--

LOCK TABLES `erp_inbound_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_inbound_order_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_inbound_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_inventory`
--

DROP TABLE IF EXISTS `erp_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_inventory` (
  `inventory_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '库存ID',
  `warehouse_id` bigint(20) NOT NULL DEFAULT '0' COMMENT '仓库ID，未建仓库档案时可填0',
  `warehouse_name` varchar(80) NOT NULL COMMENT '仓库名称',
  `item_type` varchar(20) NOT NULL COMMENT '库存对象类型，如成衣、物料',
  `item_id` bigint(20) NOT NULL COMMENT '库存对象ID，成衣对应款式SKU ID，物料对应物料SKU ID',
  `item_code` varchar(80) NOT NULL COMMENT '库存对象编码',
  `item_name` varchar(100) NOT NULL COMMENT '库存对象名称',
  `color_name` varchar(50) DEFAULT NULL COMMENT '颜色名称',
  `size_name` varchar(50) DEFAULT NULL COMMENT '尺码名称，成衣使用',
  `spec_name` varchar(100) DEFAULT NULL COMMENT '规格名称，物料使用',
  `batch_no` varchar(60) DEFAULT '' COMMENT '批次号',
  `available_qty` decimal(14,3) DEFAULT '0.000' COMMENT '可用库存数量',
  `locked_qty` decimal(14,3) DEFAULT '0.000' COMMENT '锁定库存数量',
  `unit_name` varchar(20) NOT NULL COMMENT '库存单位',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`inventory_id`),
  UNIQUE KEY `uk_erp_inventory_item_batch` (`warehouse_id`,`item_type`,`item_id`,`batch_no`),
  KEY `idx_erp_inventory_item_code` (`item_code`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COMMENT='库存汇总表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_inventory`
--

LOCK TABLES `erp_inventory` WRITE;
/*!40000 ALTER TABLE `erp_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_inventory_transaction`
--

DROP TABLE IF EXISTS `erp_inventory_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_inventory_transaction` (
  `transaction_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '库存流水ID',
  `transaction_no` varchar(40) NOT NULL COMMENT '库存流水编号',
  `transaction_type` varchar(30) NOT NULL COMMENT '流水类型，如采购入库、生产领料、成衣入库、销售出库、盘点调整',
  `business_no` varchar(40) DEFAULT NULL COMMENT '业务单号',
  `warehouse_id` bigint(20) NOT NULL DEFAULT '0' COMMENT '仓库ID',
  `warehouse_name` varchar(80) NOT NULL COMMENT '仓库名称',
  `item_type` varchar(20) NOT NULL COMMENT '库存对象类型，如成衣、物料',
  `item_id` bigint(20) NOT NULL COMMENT '库存对象ID',
  `item_code` varchar(80) NOT NULL COMMENT '库存对象编码',
  `item_name` varchar(100) NOT NULL COMMENT '库存对象名称',
  `batch_no` varchar(60) DEFAULT '' COMMENT '批次号',
  `in_qty` decimal(14,3) DEFAULT '0.000' COMMENT '入库数量',
  `out_qty` decimal(14,3) DEFAULT '0.000' COMMENT '出库数量',
  `balance_qty` decimal(14,3) DEFAULT '0.000' COMMENT '流水后结存数量',
  `unit_name` varchar(20) NOT NULL COMMENT '单位',
  `operator_name` varchar(64) DEFAULT NULL COMMENT '操作人',
  `transaction_time` datetime DEFAULT NULL COMMENT '流水发生时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`transaction_id`),
  UNIQUE KEY `uk_erp_inventory_transaction_no` (`transaction_no`),
  KEY `idx_erp_inventory_transaction_business_no` (`business_no`),
  KEY `idx_erp_inventory_transaction_item` (`item_type`,`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COMMENT='库存流水表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_inventory_transaction`
--

LOCK TABLES `erp_inventory_transaction` WRITE;
/*!40000 ALTER TABLE `erp_inventory_transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_inventory_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_material`
--

DROP TABLE IF EXISTS `erp_material`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_material` (
  `material_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '物料ID',
  `material_code` varchar(40) NOT NULL COMMENT '物料编码',
  `material_name` varchar(100) NOT NULL COMMENT '物料名称',
  `material_type` varchar(30) NOT NULL COMMENT '物料类型，如面料、辅料、包装材料',
  `category_name` varchar(50) DEFAULT NULL COMMENT '物料分类，如棉毛布、罗纹、纽扣、拉链、吊牌、包装袋',
  `unit_name` varchar(20) NOT NULL COMMENT '库存单位，如米、公斤、个、张、件',
  `default_supplier_id` bigint(20) DEFAULT NULL COMMENT '默认供应商ID',
  `default_supplier_name` varchar(100) DEFAULT NULL COMMENT '默认供应商名称',
  `safe_stock_qty` decimal(14,3) DEFAULT '0.000' COMMENT '安全库存数量',
  `status` char(1) DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `del_flag` char(1) DEFAULT '0' COMMENT '删除标志（0存在 2删除）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`material_id`),
  UNIQUE KEY `uk_erp_material_code` (`material_code`),
  KEY `idx_erp_material_name` (`material_name`),
  KEY `idx_erp_material_type` (`material_type`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COMMENT='物料主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_material`
--

LOCK TABLES `erp_material` WRITE;
/*!40000 ALTER TABLE `erp_material` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_material` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_material_sku`
--

DROP TABLE IF EXISTS `erp_material_sku`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_material_sku` (
  `material_sku_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '物料SKU ID',
  `material_id` bigint(20) NOT NULL COMMENT '物料ID',
  `material_code` varchar(40) NOT NULL COMMENT '物料编码',
  `material_sku_code` varchar(80) NOT NULL COMMENT '物料SKU编码',
  `color_code` varchar(30) DEFAULT NULL COMMENT '颜色编码',
  `color_name` varchar(50) DEFAULT NULL COMMENT '颜色名称',
  `spec_name` varchar(100) DEFAULT NULL COMMENT '规格名称，如幅宽、克重、型号',
  `width_value` decimal(10,2) DEFAULT NULL COMMENT '幅宽数值，面料使用',
  `gram_weight` decimal(10,2) DEFAULT NULL COMMENT '克重，面料使用',
  `unit_name` varchar(20) NOT NULL COMMENT '库存单位',
  `barcode` varchar(80) DEFAULT NULL COMMENT '条码',
  `status` char(1) DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `del_flag` char(1) DEFAULT '0' COMMENT '删除标志（0存在 2删除）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`material_sku_id`),
  UNIQUE KEY `uk_erp_material_sku_code` (`material_sku_code`),
  KEY `idx_erp_material_sku_material_id` (`material_id`)
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COMMENT='物料SKU表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_material_sku`
--

LOCK TABLES `erp_material_sku` WRITE;
/*!40000 ALTER TABLE `erp_material_sku` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_material_sku` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_outbound_order`
--

DROP TABLE IF EXISTS `erp_outbound_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_outbound_order` (
  `outbound_order_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '出库单ID',
  `outbound_order_no` varchar(40) NOT NULL COMMENT '出库单编号',
  `outbound_type` varchar(30) NOT NULL COMMENT '出库类型，如销售出库、生产领料、采购退货、盘亏出库、其他出库',
  `source_type` varchar(30) DEFAULT NULL COMMENT '来源类型，如销售订单、生产订单、采购退货单、手工创建',
  `source_no` varchar(40) DEFAULT NULL COMMENT '来源单号',
  `customer_id` bigint(20) DEFAULT NULL COMMENT '客户ID，销售出库使用',
  `customer_name` varchar(100) DEFAULT NULL COMMENT '客户名称',
  `supplier_id` bigint(20) DEFAULT NULL COMMENT '供应商ID，采购退货使用',
  `supplier_name` varchar(100) DEFAULT NULL COMMENT '供应商名称',
  `warehouse_id` bigint(20) NOT NULL DEFAULT '0' COMMENT '出库仓库ID',
  `warehouse_name` varchar(80) NOT NULL COMMENT '出库仓库名称',
  `outbound_date` date NOT NULL COMMENT '出库日期',
  `total_qty` decimal(14,3) DEFAULT '0.000' COMMENT '出库总数量',
  `total_amount` decimal(14,2) DEFAULT '0.00' COMMENT '出库总金额',
  `order_status` varchar(20) DEFAULT '草稿' COMMENT '单据状态，如草稿、已审核、已拣货、已出库、已作废',
  `audit_by` varchar(64) DEFAULT NULL COMMENT '审核人',
  `audit_time` datetime DEFAULT NULL COMMENT '审核时间',
  `pick_by` varchar(64) DEFAULT NULL COMMENT '拣货人',
  `pick_time` datetime DEFAULT NULL COMMENT '拣货时间',
  `post_by` varchar(64) DEFAULT NULL COMMENT '过账人',
  `post_time` datetime DEFAULT NULL COMMENT '过账时间',
  `cancel_by` varchar(64) DEFAULT NULL COMMENT '作废人',
  `cancel_time` datetime DEFAULT NULL COMMENT '作废时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`outbound_order_id`),
  UNIQUE KEY `uk_erp_outbound_order_no` (`outbound_order_no`),
  KEY `idx_erp_outbound_order_type` (`outbound_type`),
  KEY `idx_erp_outbound_order_source` (`source_type`,`source_no`),
  KEY `idx_erp_outbound_order_warehouse` (`warehouse_id`),
  KEY `idx_erp_outbound_order_date` (`outbound_date`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COMMENT='出库单主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_outbound_order`
--

LOCK TABLES `erp_outbound_order` WRITE;
/*!40000 ALTER TABLE `erp_outbound_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_outbound_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_outbound_order_detail`
--

DROP TABLE IF EXISTS `erp_outbound_order_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_outbound_order_detail` (
  `outbound_detail_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '出库单明细ID',
  `outbound_order_id` bigint(20) NOT NULL COMMENT '出库单ID',
  `outbound_order_no` varchar(40) NOT NULL COMMENT '出库单编号',
  `source_detail_id` bigint(20) DEFAULT NULL COMMENT '来源单据明细ID',
  `item_type` varchar(20) NOT NULL COMMENT '库存对象类型，如成衣、物料',
  `item_id` bigint(20) NOT NULL COMMENT '库存对象ID，成衣对应款式SKU ID，物料对应物料SKU ID',
  `item_code` varchar(80) NOT NULL COMMENT '库存对象编码',
  `item_name` varchar(100) NOT NULL COMMENT '库存对象名称',
  `color_name` varchar(50) DEFAULT NULL COMMENT '颜色名称',
  `size_name` varchar(50) DEFAULT NULL COMMENT '尺码名称，成衣使用',
  `spec_name` varchar(100) DEFAULT NULL COMMENT '规格名称，物料使用',
  `batch_no` varchar(60) DEFAULT '' COMMENT '批次号',
  `location_code` varchar(40) DEFAULT NULL COMMENT '库位编码',
  `plan_qty` decimal(14,3) DEFAULT '0.000' COMMENT '计划出库数量',
  `locked_qty` decimal(14,3) DEFAULT '0.000' COMMENT '锁定数量',
  `outbound_qty` decimal(14,3) NOT NULL DEFAULT '0.000' COMMENT '实际出库数量',
  `unit_name` varchar(20) NOT NULL COMMENT '单位',
  `unit_price` decimal(14,4) DEFAULT '0.0000' COMMENT '出库单价',
  `amount` decimal(14,2) DEFAULT '0.00' COMMENT '出库金额',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`outbound_detail_id`),
  KEY `idx_erp_outbound_detail_order_id` (`outbound_order_id`),
  KEY `idx_erp_outbound_detail_item` (`item_type`,`item_id`),
  KEY `idx_erp_outbound_detail_batch` (`batch_no`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COMMENT='出库单明细表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_outbound_order_detail`
--

LOCK TABLES `erp_outbound_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_outbound_order_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_outbound_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_production_order`
--

DROP TABLE IF EXISTS `erp_production_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_production_order` (
  `production_order_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '生产订单ID',
  `production_order_no` varchar(40) NOT NULL COMMENT '生产订单编号',
  `sales_order_id` bigint(20) DEFAULT NULL COMMENT '来源销售订单ID',
  `sales_order_no` varchar(40) DEFAULT NULL COMMENT '来源销售订单编号',
  `customer_id` bigint(20) DEFAULT NULL COMMENT '客户ID',
  `customer_name` varchar(100) DEFAULT NULL COMMENT '客户名称',
  `plan_start_date` date DEFAULT NULL COMMENT '计划开工日期',
  `plan_finish_date` date DEFAULT NULL COMMENT '计划完工日期',
  `total_qty` decimal(14,3) DEFAULT '0.000' COMMENT '生产总件数',
  `completed_qty` decimal(14,3) DEFAULT '0.000' COMMENT '已完成件数',
  `order_status` varchar(20) DEFAULT '草稿' COMMENT '生产状态，如草稿、已下达、裁剪中、缝制中、后整中、已完工、已关闭',
  `audit_by` varchar(64) DEFAULT NULL COMMENT '审核人',
  `audit_time` datetime DEFAULT NULL COMMENT '审核时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`production_order_id`),
  UNIQUE KEY `uk_erp_production_order_no` (`production_order_no`),
  KEY `idx_erp_production_order_sales_no` (`sales_order_no`),
  KEY `idx_erp_production_order_plan_finish` (`plan_finish_date`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COMMENT='生产订单主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_production_order`
--

LOCK TABLES `erp_production_order` WRITE;
/*!40000 ALTER TABLE `erp_production_order` DISABLE KEYS */;
INSERT INTO `erp_production_order` VALUES (4,'MO-DEMO-001',NULL,NULL,31,'杭州星芽童装品牌有限公司','2026-06-01','2026-06-08',300.000,0.000,'已关闭','admin','2026-05-31 13:25:07','admin','2026-05-31 13:25:07','admin','2026-06-01 15:23:21','用于测试生产领料出库'),(5,'MO20260601151702',NULL,'pdd-20260601',NULL,'拼多多','2026-06-01','2026-06-08',10.000,10.000,'已完成','admin','2026-06-01 15:17:26','admin','2026-06-01 15:17:02','admin','2026-06-01 15:27:37',NULL);
/*!40000 ALTER TABLE `erp_production_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_production_order_detail`
--

DROP TABLE IF EXISTS `erp_production_order_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_production_order_detail` (
  `production_order_detail_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '生产订单明细ID',
  `production_order_id` bigint(20) NOT NULL COMMENT '生产订单ID',
  `production_order_no` varchar(40) NOT NULL COMMENT '生产订单编号',
  `style_id` bigint(20) NOT NULL COMMENT '款式ID',
  `sku_id` bigint(20) NOT NULL COMMENT '款式SKU ID',
  `style_no` varchar(40) NOT NULL COMMENT '款号',
  `style_name` varchar(100) NOT NULL COMMENT '款式名称',
  `color_name` varchar(50) NOT NULL COMMENT '颜色名称',
  `size_name` varchar(50) NOT NULL COMMENT '尺码名称',
  `plan_qty` decimal(14,3) NOT NULL DEFAULT '0.000' COMMENT '计划生产数量',
  `cut_qty` decimal(14,3) DEFAULT '0.000' COMMENT '已裁剪数量',
  `sewn_qty` decimal(14,3) DEFAULT '0.000' COMMENT '已缝制数量',
  `finished_qty` decimal(14,3) DEFAULT '0.000' COMMENT '已后整完成数量',
  `qualified_qty` decimal(14,3) DEFAULT '0.000' COMMENT '质检合格数量',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`production_order_detail_id`),
  KEY `idx_erp_production_detail_order_id` (`production_order_id`),
  KEY `idx_erp_production_detail_style_id` (`style_id`),
  KEY `idx_erp_production_detail_sku_id` (`sku_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COMMENT='生产订单明细表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_production_order_detail`
--

LOCK TABLES `erp_production_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_production_order_detail` DISABLE KEYS */;
INSERT INTO `erp_production_order_detail` VALUES (1,4,'MO-DEMO-001',29,76,'KDS-FLOW-001','云朵印花短袖T恤','象牙白','110',120.000,0.000,0.000,0.000,0.000,'admin','2026-05-31 14:05:13','',NULL,'生产订单测试明细'),(2,4,'MO-DEMO-001',29,77,'KDS-FLOW-001','云朵印花短袖T恤','象牙白','120',180.000,0.000,0.000,0.000,0.000,'admin','2026-05-31 14:05:13','',NULL,'生产订单测试明细'),(3,5,'MO20260601151702',30,78,'KDS-FLOW-002','拼色连帽卫衣','浅花灰','120',10.000,0.000,0.000,0.000,0.000,'admin','2026-06-01 15:17:02','',NULL,NULL);
/*!40000 ALTER TABLE `erp_production_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_purchase_order`
--

DROP TABLE IF EXISTS `erp_purchase_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_purchase_order` (
  `purchase_order_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '采购订单ID',
  `purchase_order_no` varchar(40) NOT NULL COMMENT '采购订单编号',
  `supplier_id` bigint(20) NOT NULL COMMENT '供应商ID',
  `supplier_name` varchar(100) NOT NULL COMMENT '供应商名称',
  `order_date` date NOT NULL COMMENT '采购日期',
  `expected_date` date DEFAULT NULL COMMENT '预计到货日期',
  `source_type` varchar(30) DEFAULT NULL COMMENT '来源类型，如生产备料、库存补货、样衣采购',
  `source_no` varchar(40) DEFAULT NULL COMMENT '来源单号',
  `total_qty` decimal(14,3) DEFAULT '0.000' COMMENT '采购总数量',
  `total_amount` decimal(14,2) DEFAULT '0.00' COMMENT '采购总金额',
  `order_status` varchar(20) DEFAULT '草稿' COMMENT '订单状态，如草稿、已审核、部分入库、已完成、已关闭',
  `audit_by` varchar(64) DEFAULT NULL COMMENT '审核人',
  `audit_time` datetime DEFAULT NULL COMMENT '审核时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`purchase_order_id`),
  UNIQUE KEY `uk_erp_purchase_order_no` (`purchase_order_no`),
  KEY `idx_erp_purchase_order_supplier_id` (`supplier_id`),
  KEY `idx_erp_purchase_order_expected_date` (`expected_date`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COMMENT='采购订单主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_purchase_order`
--

LOCK TABLES `erp_purchase_order` WRITE;
/*!40000 ALTER TABLE `erp_purchase_order` DISABLE KEYS */;
INSERT INTO `erp_purchase_order` VALUES (7,'PO-DEMO-001',10,'绍兴晨织纺织有限公司','2026-05-20','2026-05-25','库存补货',NULL,1000.000,18000.00,'已完成','admin','2026-05-31 13:25:07','admin','2026-05-31 13:25:07','',NULL,'已通过入库单完成入库'),(8,'PO-DEMO-002',10,'绍兴晨织纺织有限公司','2026-05-31','2026-06-03','生产备料','MO-DEMO-001',200.000,2800.00,'已审核','admin','2026-05-31 13:25:07','admin','2026-05-31 13:25:07','',NULL,'用于测试草稿入库单过账');
/*!40000 ALTER TABLE `erp_purchase_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_purchase_order_detail`
--

DROP TABLE IF EXISTS `erp_purchase_order_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_purchase_order_detail` (
  `purchase_order_detail_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '采购订单明细ID',
  `purchase_order_id` bigint(20) NOT NULL COMMENT '采购订单ID',
  `purchase_order_no` varchar(40) NOT NULL COMMENT '采购订单编号',
  `material_id` bigint(20) NOT NULL COMMENT '物料ID',
  `material_sku_id` bigint(20) DEFAULT NULL COMMENT '物料SKU ID',
  `material_code` varchar(40) NOT NULL COMMENT '物料编码',
  `material_name` varchar(100) NOT NULL COMMENT '物料名称',
  `color_name` varchar(50) DEFAULT NULL COMMENT '颜色名称',
  `spec_name` varchar(100) DEFAULT NULL COMMENT '规格名称',
  `order_qty` decimal(14,3) NOT NULL DEFAULT '0.000' COMMENT '采购数量',
  `received_qty` decimal(14,3) DEFAULT '0.000' COMMENT '已入库数量',
  `unit_name` varchar(20) NOT NULL COMMENT '采购单位',
  `unit_price` decimal(14,4) DEFAULT '0.0000' COMMENT '采购单价',
  `amount` decimal(14,2) DEFAULT '0.00' COMMENT '明细金额',
  `expected_date` date DEFAULT NULL COMMENT '预计到货日期',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`purchase_order_detail_id`),
  KEY `idx_erp_purchase_detail_order_id` (`purchase_order_id`),
  KEY `idx_erp_purchase_detail_material_id` (`material_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COMMENT='采购订单明细表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_purchase_order_detail`
--

LOCK TABLES `erp_purchase_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_purchase_order_detail` DISABLE KEYS */;
INSERT INTO `erp_purchase_order_detail` VALUES (7,7,'PO-DEMO-001',51,59,'FAB-COT-0001','32S精梳棉毛布','象牙白','165cm/180g',1000.000,1000.000,'米',18.0000,18000.00,'2026-05-25','admin','2026-05-31 13:25:07','',NULL,'已入库'),(8,8,'PO-DEMO-002',52,61,'FAB-RIB-0002','1x1弹力罗纹','象牙白','90cm/220g',200.000,0.000,'米',14.0000,2800.00,'2026-06-03','admin','2026-05-31 13:25:07','',NULL,'待入库');
/*!40000 ALTER TABLE `erp_purchase_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_quality_check`
--

DROP TABLE IF EXISTS `erp_quality_check`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_quality_check` (
  `quality_check_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '质检ID',
  `quality_check_no` varchar(40) NOT NULL COMMENT '质检单号',
  `production_order_id` bigint(20) DEFAULT NULL COMMENT '生产订单ID',
  `production_order_no` varchar(40) DEFAULT NULL COMMENT '生产订单编号',
  `style_id` bigint(20) NOT NULL COMMENT '款式ID',
  `sku_id` bigint(20) DEFAULT NULL COMMENT '款式SKU ID',
  `style_no` varchar(40) NOT NULL COMMENT '款号',
  `color_name` varchar(50) DEFAULT NULL COMMENT '颜色名称',
  `size_name` varchar(50) DEFAULT NULL COMMENT '尺码名称',
  `check_type` varchar(30) NOT NULL COMMENT '质检类型，如首检、巡检、成品质检、检针、安全检查',
  `check_qty` decimal(14,3) NOT NULL DEFAULT '0.000' COMMENT '检验数量',
  `qualified_qty` decimal(14,3) DEFAULT '0.000' COMMENT '合格数量',
  `defective_qty` decimal(14,3) DEFAULT '0.000' COMMENT '不良数量',
  `defect_desc` varchar(500) DEFAULT NULL COMMENT '不良描述，如跳线、污渍、色差、尺寸偏差、纽扣松动',
  `check_result` varchar(20) DEFAULT '待判定' COMMENT '检验结果，如合格、不合格、待返工、待判定',
  `inspector_name` varchar(64) DEFAULT NULL COMMENT '质检员',
  `check_time` datetime DEFAULT NULL COMMENT '检验时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`quality_check_id`),
  UNIQUE KEY `uk_erp_quality_check_no` (`quality_check_no`),
  KEY `idx_erp_quality_check_production_id` (`production_order_id`),
  KEY `idx_erp_quality_check_style_id` (`style_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='质量检验表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_quality_check`
--

LOCK TABLES `erp_quality_check` WRITE;
/*!40000 ALTER TABLE `erp_quality_check` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_quality_check` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_sales_order`
--

DROP TABLE IF EXISTS `erp_sales_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_sales_order` (
  `sales_order_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '销售订单ID',
  `sales_order_no` varchar(40) NOT NULL COMMENT '销售订单编号',
  `customer_id` bigint(20) NOT NULL COMMENT '客户ID',
  `customer_name` varchar(100) NOT NULL COMMENT '客户名称',
  `order_date` date NOT NULL COMMENT '下单日期',
  `delivery_date` date DEFAULT NULL COMMENT '要求交货日期',
  `order_source` varchar(30) DEFAULT NULL COMMENT '订单来源，如订货会、补单、电商、线下门店',
  `currency_code` varchar(10) DEFAULT 'CNY' COMMENT '币种',
  `total_qty` decimal(14,3) DEFAULT '0.000' COMMENT '订单总件数',
  `total_amount` decimal(14,2) DEFAULT '0.00' COMMENT '订单总金额',
  `order_status` varchar(20) DEFAULT '草稿' COMMENT '订单状态，如草稿、已审核、生产中、已出货、已关闭',
  `audit_by` varchar(64) DEFAULT NULL COMMENT '审核人',
  `audit_time` datetime DEFAULT NULL COMMENT '审核时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`sales_order_id`),
  UNIQUE KEY `uk_erp_sales_order_no` (`sales_order_no`),
  KEY `idx_erp_sales_order_customer_id` (`customer_id`),
  KEY `idx_erp_sales_order_delivery_date` (`delivery_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='销售订单主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_sales_order`
--

LOCK TABLES `erp_sales_order` WRITE;
/*!40000 ALTER TABLE `erp_sales_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_sales_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_sales_order_detail`
--

DROP TABLE IF EXISTS `erp_sales_order_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_sales_order_detail` (
  `sales_order_detail_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '销售订单明细ID',
  `sales_order_id` bigint(20) NOT NULL COMMENT '销售订单ID',
  `sales_order_no` varchar(40) NOT NULL COMMENT '销售订单编号',
  `style_id` bigint(20) NOT NULL COMMENT '款式ID',
  `sku_id` bigint(20) NOT NULL COMMENT '款式SKU ID',
  `sku_code` varchar(80) DEFAULT NULL COMMENT 'SKU编码',
  `style_no` varchar(40) NOT NULL COMMENT '款号',
  `style_name` varchar(100) NOT NULL COMMENT '款式名称',
  `color_name` varchar(50) NOT NULL COMMENT '颜色名称',
  `size_name` varchar(50) NOT NULL COMMENT '尺码名称',
  `order_qty` decimal(14,3) NOT NULL DEFAULT '0.000' COMMENT '订单数量',
  `shipped_qty` decimal(14,3) DEFAULT '0.000' COMMENT '已发货数量',
  `unit_price` decimal(14,2) DEFAULT '0.00' COMMENT '销售单价',
  `amount` decimal(14,2) DEFAULT '0.00' COMMENT '明细金额',
  `delivery_date` date DEFAULT NULL COMMENT '明细要求交货日期',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`sales_order_detail_id`),
  KEY `idx_erp_sales_detail_order_id` (`sales_order_id`),
  KEY `idx_erp_sales_detail_style_id` (`style_id`),
  KEY `idx_erp_sales_detail_sku_id` (`sku_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='销售订单明细表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_sales_order_detail`
--

LOCK TABLES `erp_sales_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_sales_order_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_sales_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_sewing_report`
--

DROP TABLE IF EXISTS `erp_sewing_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_sewing_report` (
  `sewing_report_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '缝制上报ID',
  `report_no` varchar(40) NOT NULL COMMENT '上报单号',
  `production_order_id` bigint(20) NOT NULL COMMENT '生产订单ID',
  `production_order_no` varchar(40) NOT NULL COMMENT '生产订单编号',
  `style_id` bigint(20) NOT NULL COMMENT '款式ID',
  `sku_id` bigint(20) DEFAULT NULL COMMENT '款式SKU ID',
  `style_no` varchar(40) NOT NULL COMMENT '款号',
  `color_name` varchar(50) DEFAULT NULL COMMENT '颜色名称',
  `size_name` varchar(50) DEFAULT NULL COMMENT '尺码名称',
  `workshop_name` varchar(80) DEFAULT NULL COMMENT '车间名称',
  `line_name` varchar(80) DEFAULT NULL COMMENT '生产线或组别',
  `worker_name` varchar(64) DEFAULT NULL COMMENT '员工姓名',
  `process_name` varchar(80) DEFAULT NULL COMMENT '工序名称',
  `report_qty` decimal(14,3) NOT NULL DEFAULT '0.000' COMMENT '上报数量',
  `qualified_qty` decimal(14,3) DEFAULT '0.000' COMMENT '合格数量',
  `defective_qty` decimal(14,3) DEFAULT '0.000' COMMENT '不良数量',
  `report_date` date NOT NULL COMMENT '上报日期',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`sewing_report_id`),
  UNIQUE KEY `uk_erp_sewing_report_no` (`report_no`),
  KEY `idx_erp_sewing_report_production_id` (`production_order_id`),
  KEY `idx_erp_sewing_report_date` (`report_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='缝制产量上报表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_sewing_report`
--

LOCK TABLES `erp_sewing_report` WRITE;
/*!40000 ALTER TABLE `erp_sewing_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_sewing_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_style`
--

DROP TABLE IF EXISTS `erp_style`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_style` (
  `style_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '款式ID',
  `style_no` varchar(40) NOT NULL COMMENT '款号',
  `style_name` varchar(100) NOT NULL COMMENT '款式名称',
  `category_name` varchar(50) DEFAULT NULL COMMENT '品类，如T恤、连衣裙、家居服、卫衣、套装',
  `brand_name` varchar(60) DEFAULT NULL COMMENT '品牌名称',
  `season_name` varchar(30) DEFAULT NULL COMMENT '季节，如春夏、秋冬',
  `year_name` varchar(10) DEFAULT NULL COMMENT '年份',
  `gender_type` varchar(20) DEFAULT NULL COMMENT '童装性别类型，如男童、女童、中性',
  `designer` varchar(50) DEFAULT NULL COMMENT '设计师',
  `sample_status` char(1) DEFAULT '0' COMMENT '样衣状态（0待打样 1打样中 2已确认）',
  `production_status` char(1) DEFAULT '0' COMMENT '生产状态（0未投产 1生产中 2已完结）',
  `image_url` varchar(1000) DEFAULT NULL COMMENT '主图地址，多个地址用英文逗号分隔',
  `status` char(1) DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `del_flag` char(1) DEFAULT '0' COMMENT '删除标志（0存在 2删除）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`style_id`),
  UNIQUE KEY `uk_erp_style_no` (`style_no`),
  KEY `idx_erp_style_category` (`category_name`),
  KEY `idx_erp_style_season` (`season_name`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COMMENT='童装款式主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_style`
--

LOCK TABLES `erp_style` WRITE;
/*!40000 ALTER TABLE `erp_style` DISABLE KEYS */;
INSERT INTO `erp_style` VALUES (29,'KDS-FLOW-001','云朵印花短袖T恤','T恤','一丫一童装','春夏','2026','中性','林可','2','0','https://dummyimage.com/360x360/91c9f7/ffffff&text=KDS-FLOW-001','0','0','admin','2026-05-31 13:25:07','',NULL,'用于测试BOM和物料领用'),(30,'KDS-FLOW-002','拼色连帽卫衣','卫衣','一丫一童装','秋冬','2026','中性','周铠','2','0','https://dummyimage.com/360x360/778beb/ffffff&text=KDS-FLOW-002','0','0','admin','2026-05-31 13:25:07','',NULL,'用于测试拉链和卫衣布BOM');
/*!40000 ALTER TABLE `erp_style` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_style_bom`
--

DROP TABLE IF EXISTS `erp_style_bom`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_style_bom` (
  `bom_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'BOM ID',
  `bom_no` varchar(40) NOT NULL COMMENT 'BOM编号',
  `style_id` bigint(20) NOT NULL COMMENT '款式ID',
  `style_no` varchar(40) NOT NULL COMMENT '款号',
  `version_no` varchar(20) NOT NULL COMMENT 'BOM版本号',
  `bom_status` char(1) DEFAULT '0' COMMENT 'BOM状态（0草稿 1已审核 2已停用）',
  `effective_date` date DEFAULT NULL COMMENT '生效日期',
  `audit_by` varchar(64) DEFAULT NULL COMMENT '审核人',
  `audit_time` datetime DEFAULT NULL COMMENT '审核时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`bom_id`),
  UNIQUE KEY `uk_erp_style_bom_no` (`bom_no`),
  KEY `idx_erp_style_bom_style_id` (`style_id`),
  KEY `idx_erp_style_bom_style_no` (`style_no`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COMMENT='款式BOM主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_style_bom`
--

LOCK TABLES `erp_style_bom` WRITE;
/*!40000 ALTER TABLE `erp_style_bom` DISABLE KEYS */;
INSERT INTO `erp_style_bom` VALUES (33,'KDS-FLOW-001-BOM-V1',29,'KDS-FLOW-001','V1','1','2026-05-31','admin','2026-05-31 13:25:07','admin','2026-05-31 13:25:07','',NULL,'T恤标准BOM'),(34,'KDS-FLOW-002-BOM-V1',30,'KDS-FLOW-002','V1','1','2026-05-31','admin','2026-05-31 13:25:07','admin','2026-05-31 13:25:07','',NULL,'卫衣标准BOM');
/*!40000 ALTER TABLE `erp_style_bom` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_style_bom_detail`
--

DROP TABLE IF EXISTS `erp_style_bom_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_style_bom_detail` (
  `bom_detail_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'BOM明细ID',
  `bom_id` bigint(20) NOT NULL COMMENT 'BOM ID',
  `material_id` bigint(20) NOT NULL COMMENT '物料ID',
  `material_sku_id` bigint(20) DEFAULT NULL COMMENT '物料SKU ID',
  `material_code` varchar(40) NOT NULL COMMENT '物料编码',
  `material_name` varchar(100) NOT NULL COMMENT '物料名称',
  `material_type` varchar(30) NOT NULL COMMENT '物料类型',
  `color_name` varchar(50) DEFAULT NULL COMMENT '物料颜色',
  `spec_name` varchar(100) DEFAULT NULL COMMENT '物料规格',
  `usage_qty` decimal(14,4) NOT NULL DEFAULT '0.0000' COMMENT '单件标准用量',
  `loss_rate` decimal(8,4) DEFAULT '0.0000' COMMENT '损耗率，例如0.0500表示5%',
  `unit_name` varchar(20) NOT NULL COMMENT '用量单位',
  `position_name` varchar(60) DEFAULT NULL COMMENT '使用部位，如大身、袖口、领口、包装',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`bom_detail_id`),
  KEY `idx_erp_bom_detail_bom_id` (`bom_id`),
  KEY `idx_erp_bom_detail_material_id` (`material_id`)
) ENGINE=InnoDB AUTO_INCREMENT=92 DEFAULT CHARSET=utf8mb4 COMMENT='款式BOM明细表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_style_bom_detail`
--

LOCK TABLES `erp_style_bom_detail` WRITE;
/*!40000 ALTER TABLE `erp_style_bom_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_style_bom_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_style_sku`
--

DROP TABLE IF EXISTS `erp_style_sku`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_style_sku` (
  `sku_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '款式SKU ID',
  `style_id` bigint(20) NOT NULL COMMENT '款式ID',
  `style_no` varchar(40) NOT NULL COMMENT '款号',
  `sku_code` varchar(80) NOT NULL COMMENT 'SKU编码，通常由款号、颜色、尺码组成',
  `color_code` varchar(30) DEFAULT NULL COMMENT '颜色编码',
  `color_name` varchar(50) NOT NULL COMMENT '颜色名称',
  `size_code` varchar(30) NOT NULL COMMENT '尺码编码，如80、90、100、110、120、130、140',
  `size_name` varchar(50) NOT NULL COMMENT '尺码名称',
  `barcode` varchar(80) DEFAULT NULL COMMENT '条码',
  `retail_price` decimal(14,2) DEFAULT '0.00' COMMENT '建议零售价',
  `status` char(1) DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `del_flag` char(1) DEFAULT '0' COMMENT '删除标志（0存在 2删除）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`sku_id`),
  UNIQUE KEY `uk_erp_style_sku_code` (`sku_code`),
  KEY `idx_erp_style_sku_style_id` (`style_id`),
  KEY `idx_erp_style_sku_style_no` (`style_no`)
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COMMENT='童装款式SKU表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_style_sku`
--

LOCK TABLES `erp_style_sku` WRITE;
/*!40000 ALTER TABLE `erp_style_sku` DISABLE KEYS */;
INSERT INTO `erp_style_sku` VALUES (76,29,'KDS-FLOW-001','KDS-FLOW-001-IVORY-110','IVORY','象牙白','110','110','8800001000011',69.00,'0','0','admin','2026-05-31 13:25:07','',NULL,'测试SKU'),(77,29,'KDS-FLOW-001','KDS-FLOW-001-IVORY-120','IVORY','象牙白','120','120','8800001000012',69.00,'0','0','admin','2026-05-31 13:25:07','',NULL,'测试SKU'),(78,30,'KDS-FLOW-002','KDS-FLOW-002-GRAY-120','GRAY','浅花灰','120','120','8800001000021',129.00,'0','0','admin','2026-05-31 13:25:07','',NULL,'测试SKU');
/*!40000 ALTER TABLE `erp_style_sku` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_supplier`
--

DROP TABLE IF EXISTS `erp_supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_supplier` (
  `supplier_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '供应商ID',
  `supplier_code` varchar(40) NOT NULL COMMENT '供应商编码',
  `supplier_name` varchar(100) NOT NULL COMMENT '供应商名称',
  `supplier_type` varchar(30) DEFAULT NULL COMMENT '供应商类型，如面料、辅料、包装、外协加工',
  `contact_name` varchar(50) DEFAULT NULL COMMENT '联系人',
  `contact_phone` varchar(30) DEFAULT NULL COMMENT '联系电话',
  `contact_email` varchar(100) DEFAULT NULL COMMENT '联系邮箱',
  `province` varchar(50) DEFAULT NULL COMMENT '省份',
  `city` varchar(50) DEFAULT NULL COMMENT '城市',
  `address` varchar(255) DEFAULT NULL COMMENT '详细地址',
  `lead_time_days` int(11) DEFAULT '0' COMMENT '常规交期天数',
  `settlement_type` varchar(30) DEFAULT NULL COMMENT '结算方式',
  `status` char(1) DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `del_flag` char(1) DEFAULT '0' COMMENT '删除标志（0存在 2删除）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`supplier_id`),
  UNIQUE KEY `uk_erp_supplier_code` (`supplier_code`),
  KEY `idx_erp_supplier_name` (`supplier_name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COMMENT='供应商档案表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_supplier`
--

LOCK TABLES `erp_supplier` WRITE;
/*!40000 ALTER TABLE `erp_supplier` DISABLE KEYS */;
INSERT INTO `erp_supplier` VALUES (10,'SUP-FAB-001','绍兴晨织纺织有限公司','面料','周晨','13757570001','fabric@chenzhi.cn','浙江省','绍兴市','柯桥轻纺城东区18号',7,'月结30天','0','0','admin','2026-05-31 13:25:07','',NULL,'主供棉毛布、罗纹、卫衣布'),(11,'SUP-ACC-001','义乌童辅辅料商行','辅料','何丽','13657990002','acc@kids.cn','浙江省','义乌市','国际商贸城三区',5,'货到付款','0','0','admin','2026-05-31 13:25:07','',NULL,'主供纽扣、拉链、松紧带'),(12,'SUP-PKG-001','杭州明印包装有限公司','包装','赵明','13588880003','pack@mingyin.cn','浙江省','杭州市','萧山区包装产业园',4,'月结30天','0','0','admin','2026-05-31 13:25:07','',NULL,'主供吊牌、包装袋');
/*!40000 ALTER TABLE `erp_supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `erp_warehouse`
--

DROP TABLE IF EXISTS `erp_warehouse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `erp_warehouse` (
  `warehouse_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '仓库ID',
  `warehouse_code` varchar(40) NOT NULL COMMENT '仓库编码',
  `warehouse_name` varchar(80) NOT NULL COMMENT '仓库名称',
  `warehouse_type` varchar(30) DEFAULT '物料仓' COMMENT '仓库类型，如物料仓、成衣仓、次品仓、样品仓',
  `manager_name` varchar(64) DEFAULT NULL COMMENT '仓库负责人',
  `contact_phone` varchar(30) DEFAULT NULL COMMENT '联系电话',
  `province` varchar(50) DEFAULT NULL COMMENT '省份',
  `city` varchar(50) DEFAULT NULL COMMENT '城市',
  `county` varchar(50) DEFAULT NULL COMMENT '区县',
  `address` varchar(255) DEFAULT NULL COMMENT '仓库地址',
  `status` char(1) DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `del_flag` char(1) DEFAULT '0' COMMENT '删除标志（0代表存在 2代表删除）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`warehouse_id`),
  UNIQUE KEY `uk_erp_warehouse_code` (`warehouse_code`),
  KEY `idx_erp_warehouse_name` (`warehouse_name`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COMMENT='仓库档案表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `erp_warehouse`
--

LOCK TABLES `erp_warehouse` WRITE;
/*!40000 ALTER TABLE `erp_warehouse` DISABLE KEYS */;
INSERT INTO `erp_warehouse` VALUES (14,'WH-MAT-001','一号物料仓','物料仓','王仓','13800000001','浙江省','杭州市','滨江区','童装工厂一号仓','0','0','admin','2026-05-31 13:25:07','',NULL,'物料入库、生产领料主仓'),(15,'WH-FG-001','一号成衣仓','成衣仓','李仓','13800000002','浙江省','杭州市','滨江区','童装工厂二号仓','0','0','admin','2026-05-31 13:25:07','',NULL,'成衣入库、销售出库主仓'),(16,'WH-QC-001','质检暂存仓','次品仓','赵质检','13800000003','浙江省','杭州市','滨江区','质检暂存区','0','0','admin','2026-05-31 13:25:07','',NULL,'待检和不合格暂存');
/*!40000 ALTER TABLE `erp_warehouse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gen_table`
--

DROP TABLE IF EXISTS `gen_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gen_table` (
  `table_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '编号',
  `table_name` varchar(200) DEFAULT '' COMMENT '表名称',
  `table_comment` varchar(500) DEFAULT '' COMMENT '表描述',
  `sub_table_name` varchar(64) DEFAULT NULL COMMENT '关联子表的表名',
  `sub_table_fk_name` varchar(64) DEFAULT NULL COMMENT '子表关联的外键名',
  `class_name` varchar(100) DEFAULT '' COMMENT '实体类名称',
  `tpl_category` varchar(200) DEFAULT 'crud' COMMENT '使用的模板（crud单表操作 tree树表操作）',
  `tpl_web_type` varchar(30) DEFAULT '' COMMENT '前端模板类型（element-ui模版 element-plus模版）',
  `package_name` varchar(100) DEFAULT NULL COMMENT '生成包路径',
  `module_name` varchar(30) DEFAULT NULL COMMENT '生成模块名',
  `business_name` varchar(30) DEFAULT NULL COMMENT '生成业务名',
  `function_name` varchar(50) DEFAULT NULL COMMENT '生成功能名',
  `function_author` varchar(50) DEFAULT NULL COMMENT '生成功能作者',
  `form_col_num` int(1) DEFAULT '1' COMMENT '表单布局（单列 双列 三列）',
  `gen_type` char(1) DEFAULT '0' COMMENT '生成代码方式（0zip压缩包 1自定义路径）',
  `gen_path` varchar(200) DEFAULT '/' COMMENT '生成路径（不填默认项目路径）',
  `options` varchar(1000) DEFAULT NULL COMMENT '其它生成选项',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`table_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COMMENT='代码生成业务表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gen_table`
--

LOCK TABLES `gen_table` WRITE;
/*!40000 ALTER TABLE `gen_table` DISABLE KEYS */;
INSERT INTO `gen_table` VALUES (1,'erp_style','童装款式主表',NULL,NULL,'ErpStyle','crud','element-ui','com.ruoyi.erp','erp','style','童装款式主','ruoyi',1,'0','/','{\"genView\":\"1\",\"parentMenuId\":3000}','admin','2026-05-31 02:10:02','','2026-05-31 02:14:00',NULL);
/*!40000 ALTER TABLE `gen_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gen_table_column`
--

DROP TABLE IF EXISTS `gen_table_column`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gen_table_column` (
  `column_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '编号',
  `table_id` bigint(20) DEFAULT NULL COMMENT '归属表编号',
  `column_name` varchar(200) DEFAULT NULL COMMENT '列名称',
  `column_comment` varchar(500) DEFAULT NULL COMMENT '列描述',
  `column_type` varchar(100) DEFAULT NULL COMMENT '列类型',
  `java_type` varchar(500) DEFAULT NULL COMMENT 'JAVA类型',
  `java_field` varchar(200) DEFAULT NULL COMMENT 'JAVA字段名',
  `is_pk` char(1) DEFAULT NULL COMMENT '是否主键（1是）',
  `is_increment` char(1) DEFAULT NULL COMMENT '是否自增（1是）',
  `is_required` char(1) DEFAULT NULL COMMENT '是否必填（1是）',
  `is_insert` char(1) DEFAULT NULL COMMENT '是否为插入字段（1是）',
  `is_edit` char(1) DEFAULT NULL COMMENT '是否编辑字段（1是）',
  `is_list` char(1) DEFAULT NULL COMMENT '是否列表字段（1是）',
  `is_query` char(1) DEFAULT NULL COMMENT '是否查询字段（1是）',
  `query_type` varchar(200) DEFAULT 'EQ' COMMENT '查询方式（等于、不等于、大于、小于、范围）',
  `html_type` varchar(200) DEFAULT NULL COMMENT '显示类型（文本框、文本域、下拉框、复选框、单选框、日期控件）',
  `dict_type` varchar(200) DEFAULT '' COMMENT '字典类型',
  `sort` int(11) DEFAULT NULL COMMENT '排序',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  PRIMARY KEY (`column_id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8 COMMENT='代码生成业务表字段';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gen_table_column`
--

LOCK TABLES `gen_table_column` WRITE;
/*!40000 ALTER TABLE `gen_table_column` DISABLE KEYS */;
/*!40000 ALTER TABLE `gen_table_column` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_blob_triggers`
--

DROP TABLE IF EXISTS `qrtz_blob_triggers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_blob_triggers` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `trigger_name` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_name的外键',
  `trigger_group` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_group的外键',
  `blob_data` blob COMMENT '存放持久化Trigger对象',
  PRIMARY KEY (`sched_name`,`trigger_name`,`trigger_group`),
  CONSTRAINT `qrtz_blob_triggers_ibfk_1` FOREIGN KEY (`sched_name`, `trigger_name`, `trigger_group`) REFERENCES `qrtz_triggers` (`sched_name`, `trigger_name`, `trigger_group`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Blob类型的触发器表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_blob_triggers`
--

LOCK TABLES `qrtz_blob_triggers` WRITE;
/*!40000 ALTER TABLE `qrtz_blob_triggers` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_blob_triggers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_calendars`
--

DROP TABLE IF EXISTS `qrtz_calendars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_calendars` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `calendar_name` varchar(200) NOT NULL COMMENT '日历名称',
  `calendar` blob NOT NULL COMMENT '存放持久化calendar对象',
  PRIMARY KEY (`sched_name`,`calendar_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='日历信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_calendars`
--

LOCK TABLES `qrtz_calendars` WRITE;
/*!40000 ALTER TABLE `qrtz_calendars` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_calendars` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_cron_triggers`
--

DROP TABLE IF EXISTS `qrtz_cron_triggers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_cron_triggers` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `trigger_name` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_name的外键',
  `trigger_group` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_group的外键',
  `cron_expression` varchar(200) NOT NULL COMMENT 'cron表达式',
  `time_zone_id` varchar(80) DEFAULT NULL COMMENT '时区',
  PRIMARY KEY (`sched_name`,`trigger_name`,`trigger_group`),
  CONSTRAINT `qrtz_cron_triggers_ibfk_1` FOREIGN KEY (`sched_name`, `trigger_name`, `trigger_group`) REFERENCES `qrtz_triggers` (`sched_name`, `trigger_name`, `trigger_group`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Cron类型的触发器表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_cron_triggers`
--

LOCK TABLES `qrtz_cron_triggers` WRITE;
/*!40000 ALTER TABLE `qrtz_cron_triggers` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_cron_triggers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_fired_triggers`
--

DROP TABLE IF EXISTS `qrtz_fired_triggers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_fired_triggers` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `entry_id` varchar(95) NOT NULL COMMENT '调度器实例id',
  `trigger_name` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_name的外键',
  `trigger_group` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_group的外键',
  `instance_name` varchar(200) NOT NULL COMMENT '调度器实例名',
  `fired_time` bigint(13) NOT NULL COMMENT '触发的时间',
  `sched_time` bigint(13) NOT NULL COMMENT '定时器制定的时间',
  `priority` int(11) NOT NULL COMMENT '优先级',
  `state` varchar(16) NOT NULL COMMENT '状态',
  `job_name` varchar(200) DEFAULT NULL COMMENT '任务名称',
  `job_group` varchar(200) DEFAULT NULL COMMENT '任务组名',
  `is_nonconcurrent` varchar(1) DEFAULT NULL COMMENT '是否并发',
  `requests_recovery` varchar(1) DEFAULT NULL COMMENT '是否接受恢复执行',
  PRIMARY KEY (`sched_name`,`entry_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='已触发的触发器表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_fired_triggers`
--

LOCK TABLES `qrtz_fired_triggers` WRITE;
/*!40000 ALTER TABLE `qrtz_fired_triggers` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_fired_triggers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_job_details`
--

DROP TABLE IF EXISTS `qrtz_job_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_job_details` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `job_name` varchar(200) NOT NULL COMMENT '任务名称',
  `job_group` varchar(200) NOT NULL COMMENT '任务组名',
  `description` varchar(250) DEFAULT NULL COMMENT '相关介绍',
  `job_class_name` varchar(250) NOT NULL COMMENT '执行任务类名称',
  `is_durable` varchar(1) NOT NULL COMMENT '是否持久化',
  `is_nonconcurrent` varchar(1) NOT NULL COMMENT '是否并发',
  `is_update_data` varchar(1) NOT NULL COMMENT '是否更新数据',
  `requests_recovery` varchar(1) NOT NULL COMMENT '是否接受恢复执行',
  `job_data` blob COMMENT '存放持久化job对象',
  PRIMARY KEY (`sched_name`,`job_name`,`job_group`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='任务详细信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_job_details`
--

LOCK TABLES `qrtz_job_details` WRITE;
/*!40000 ALTER TABLE `qrtz_job_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_job_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_locks`
--

DROP TABLE IF EXISTS `qrtz_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_locks` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `lock_name` varchar(40) NOT NULL COMMENT '悲观锁名称',
  PRIMARY KEY (`sched_name`,`lock_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='存储的悲观锁信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_locks`
--

LOCK TABLES `qrtz_locks` WRITE;
/*!40000 ALTER TABLE `qrtz_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_paused_trigger_grps`
--

DROP TABLE IF EXISTS `qrtz_paused_trigger_grps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_paused_trigger_grps` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `trigger_group` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_group的外键',
  PRIMARY KEY (`sched_name`,`trigger_group`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='暂停的触发器表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_paused_trigger_grps`
--

LOCK TABLES `qrtz_paused_trigger_grps` WRITE;
/*!40000 ALTER TABLE `qrtz_paused_trigger_grps` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_paused_trigger_grps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_scheduler_state`
--

DROP TABLE IF EXISTS `qrtz_scheduler_state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_scheduler_state` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `instance_name` varchar(200) NOT NULL COMMENT '实例名称',
  `last_checkin_time` bigint(13) NOT NULL COMMENT '上次检查时间',
  `checkin_interval` bigint(13) NOT NULL COMMENT '检查间隔时间',
  PRIMARY KEY (`sched_name`,`instance_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='调度器状态表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_scheduler_state`
--

LOCK TABLES `qrtz_scheduler_state` WRITE;
/*!40000 ALTER TABLE `qrtz_scheduler_state` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_scheduler_state` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_simple_triggers`
--

DROP TABLE IF EXISTS `qrtz_simple_triggers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_simple_triggers` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `trigger_name` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_name的外键',
  `trigger_group` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_group的外键',
  `repeat_count` bigint(7) NOT NULL COMMENT '重复的次数统计',
  `repeat_interval` bigint(12) NOT NULL COMMENT '重复的间隔时间',
  `times_triggered` bigint(10) NOT NULL COMMENT '已经触发的次数',
  PRIMARY KEY (`sched_name`,`trigger_name`,`trigger_group`),
  CONSTRAINT `qrtz_simple_triggers_ibfk_1` FOREIGN KEY (`sched_name`, `trigger_name`, `trigger_group`) REFERENCES `qrtz_triggers` (`sched_name`, `trigger_name`, `trigger_group`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='简单触发器的信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_simple_triggers`
--

LOCK TABLES `qrtz_simple_triggers` WRITE;
/*!40000 ALTER TABLE `qrtz_simple_triggers` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_simple_triggers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_simprop_triggers`
--

DROP TABLE IF EXISTS `qrtz_simprop_triggers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_simprop_triggers` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `trigger_name` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_name的外键',
  `trigger_group` varchar(200) NOT NULL COMMENT 'qrtz_triggers表trigger_group的外键',
  `str_prop_1` varchar(512) DEFAULT NULL COMMENT 'String类型的trigger的第一个参数',
  `str_prop_2` varchar(512) DEFAULT NULL COMMENT 'String类型的trigger的第二个参数',
  `str_prop_3` varchar(512) DEFAULT NULL COMMENT 'String类型的trigger的第三个参数',
  `int_prop_1` int(11) DEFAULT NULL COMMENT 'int类型的trigger的第一个参数',
  `int_prop_2` int(11) DEFAULT NULL COMMENT 'int类型的trigger的第二个参数',
  `long_prop_1` bigint(20) DEFAULT NULL COMMENT 'long类型的trigger的第一个参数',
  `long_prop_2` bigint(20) DEFAULT NULL COMMENT 'long类型的trigger的第二个参数',
  `dec_prop_1` decimal(13,4) DEFAULT NULL COMMENT 'decimal类型的trigger的第一个参数',
  `dec_prop_2` decimal(13,4) DEFAULT NULL COMMENT 'decimal类型的trigger的第二个参数',
  `bool_prop_1` varchar(1) DEFAULT NULL COMMENT 'Boolean类型的trigger的第一个参数',
  `bool_prop_2` varchar(1) DEFAULT NULL COMMENT 'Boolean类型的trigger的第二个参数',
  PRIMARY KEY (`sched_name`,`trigger_name`,`trigger_group`),
  CONSTRAINT `qrtz_simprop_triggers_ibfk_1` FOREIGN KEY (`sched_name`, `trigger_name`, `trigger_group`) REFERENCES `qrtz_triggers` (`sched_name`, `trigger_name`, `trigger_group`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='同步机制的行锁表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_simprop_triggers`
--

LOCK TABLES `qrtz_simprop_triggers` WRITE;
/*!40000 ALTER TABLE `qrtz_simprop_triggers` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_simprop_triggers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qrtz_triggers`
--

DROP TABLE IF EXISTS `qrtz_triggers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qrtz_triggers` (
  `sched_name` varchar(120) NOT NULL COMMENT '调度名称',
  `trigger_name` varchar(200) NOT NULL COMMENT '触发器的名字',
  `trigger_group` varchar(200) NOT NULL COMMENT '触发器所属组的名字',
  `job_name` varchar(200) NOT NULL COMMENT 'qrtz_job_details表job_name的外键',
  `job_group` varchar(200) NOT NULL COMMENT 'qrtz_job_details表job_group的外键',
  `description` varchar(250) DEFAULT NULL COMMENT '相关介绍',
  `next_fire_time` bigint(13) DEFAULT NULL COMMENT '上一次触发时间（毫秒）',
  `prev_fire_time` bigint(13) DEFAULT NULL COMMENT '下一次触发时间（默认为-1表示不触发）',
  `priority` int(11) DEFAULT NULL COMMENT '优先级',
  `trigger_state` varchar(16) NOT NULL COMMENT '触发器状态',
  `trigger_type` varchar(8) NOT NULL COMMENT '触发器的类型',
  `start_time` bigint(13) NOT NULL COMMENT '开始时间',
  `end_time` bigint(13) DEFAULT NULL COMMENT '结束时间',
  `calendar_name` varchar(200) DEFAULT NULL COMMENT '日程表名称',
  `misfire_instr` smallint(2) DEFAULT NULL COMMENT '补偿执行的策略',
  `job_data` blob COMMENT '存放持久化job对象',
  PRIMARY KEY (`sched_name`,`trigger_name`,`trigger_group`),
  KEY `sched_name` (`sched_name`,`job_name`,`job_group`),
  CONSTRAINT `qrtz_triggers_ibfk_1` FOREIGN KEY (`sched_name`, `job_name`, `job_group`) REFERENCES `qrtz_job_details` (`sched_name`, `job_name`, `job_group`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='触发器详细信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qrtz_triggers`
--

LOCK TABLES `qrtz_triggers` WRITE;
/*!40000 ALTER TABLE `qrtz_triggers` DISABLE KEYS */;
/*!40000 ALTER TABLE `qrtz_triggers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_config`
--

DROP TABLE IF EXISTS `sys_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_config` (
  `config_id` int(5) NOT NULL AUTO_INCREMENT COMMENT '参数主键',
  `config_name` varchar(100) DEFAULT '' COMMENT '参数名称',
  `config_key` varchar(100) DEFAULT '' COMMENT '参数键名',
  `config_value` varchar(500) DEFAULT '' COMMENT '参数键值',
  `config_type` char(1) DEFAULT 'N' COMMENT '系统内置（Y是 N否）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`config_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8 COMMENT='参数配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_config`
--

LOCK TABLES `sys_config` WRITE;
/*!40000 ALTER TABLE `sys_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_dept`
--

DROP TABLE IF EXISTS `sys_dept`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_dept` (
  `dept_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '部门id',
  `parent_id` bigint(20) DEFAULT '0' COMMENT '父部门id',
  `ancestors` varchar(50) DEFAULT '' COMMENT '祖级列表',
  `dept_name` varchar(30) DEFAULT '' COMMENT '部门名称',
  `order_num` int(4) DEFAULT '0' COMMENT '显示顺序',
  `leader` varchar(20) DEFAULT NULL COMMENT '负责人',
  `phone` varchar(11) DEFAULT NULL COMMENT '联系电话',
  `email` varchar(50) DEFAULT NULL COMMENT '邮箱',
  `status` char(1) DEFAULT '0' COMMENT '部门状态（0正常 1停用）',
  `del_flag` char(1) DEFAULT '0' COMMENT '删除标志（0代表存在 2代表删除）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  PRIMARY KEY (`dept_id`)
) ENGINE=InnoDB AUTO_INCREMENT=110 DEFAULT CHARSET=utf8 COMMENT='部门表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_dept`
--

LOCK TABLES `sys_dept` WRITE;
/*!40000 ALTER TABLE `sys_dept` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_dept` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_dict_data`
--

DROP TABLE IF EXISTS `sys_dict_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_dict_data` (
  `dict_code` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '字典编码',
  `dict_sort` int(4) DEFAULT '0' COMMENT '字典排序',
  `dict_label` varchar(100) DEFAULT '' COMMENT '字典标签',
  `dict_value` varchar(100) DEFAULT '' COMMENT '字典键值',
  `dict_type` varchar(100) DEFAULT '' COMMENT '字典类型',
  `css_class` varchar(100) DEFAULT NULL COMMENT '样式属性（其他样式扩展）',
  `list_class` varchar(100) DEFAULT NULL COMMENT '表格回显样式',
  `is_default` char(1) DEFAULT 'N' COMMENT '是否默认（Y是 N否）',
  `status` char(1) DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`dict_code`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8 COMMENT='字典数据表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_dict_data`
--

LOCK TABLES `sys_dict_data` WRITE;
/*!40000 ALTER TABLE `sys_dict_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_dict_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_dict_type`
--

DROP TABLE IF EXISTS `sys_dict_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_dict_type` (
  `dict_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '字典主键',
  `dict_name` varchar(100) DEFAULT '' COMMENT '字典名称',
  `dict_type` varchar(100) DEFAULT '' COMMENT '字典类型',
  `status` char(1) DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`dict_id`),
  UNIQUE KEY `dict_type` (`dict_type`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8 COMMENT='字典类型表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_dict_type`
--

LOCK TABLES `sys_dict_type` WRITE;
/*!40000 ALTER TABLE `sys_dict_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_dict_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job`
--

DROP TABLE IF EXISTS `sys_job`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_job` (
  `job_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '任务ID',
  `job_name` varchar(64) NOT NULL DEFAULT '' COMMENT '任务名称',
  `job_group` varchar(64) NOT NULL DEFAULT 'DEFAULT' COMMENT '任务组名',
  `invoke_target` varchar(500) NOT NULL COMMENT '调用目标字符串',
  `cron_expression` varchar(255) DEFAULT '' COMMENT 'cron执行表达式',
  `misfire_policy` varchar(20) DEFAULT '3' COMMENT '计划执行错误策略（1立即执行 2执行一次 3放弃执行）',
  `concurrent` char(1) DEFAULT '1' COMMENT '是否并发执行（0允许 1禁止）',
  `status` char(1) DEFAULT '0' COMMENT '状态（0正常 1暂停）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT '' COMMENT '备注信息',
  PRIMARY KEY (`job_id`,`job_name`,`job_group`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COMMENT='定时任务调度表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job`
--

LOCK TABLES `sys_job` WRITE;
/*!40000 ALTER TABLE `sys_job` DISABLE KEYS */;
INSERT INTO `sys_job` VALUES (1,'系统默认（无参）','DEFAULT','ryTask.ryNoParams','0/10 * * * * ?','3','1','1','admin','2026-05-30 03:26:32','',NULL,''),(2,'系统默认（有参）','DEFAULT','ryTask.ryParams(\'ry\')','0/15 * * * * ?','3','1','1','admin','2026-05-30 03:26:32','',NULL,''),(3,'系统默认（多参）','DEFAULT','ryTask.ryMultipleParams(\'ry\', true, 2000L, 316.50D, 100)','0/20 * * * * ?','3','1','1','admin','2026-05-30 03:26:32','',NULL,'');
/*!40000 ALTER TABLE `sys_job` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_log`
--

DROP TABLE IF EXISTS `sys_job_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_job_log` (
  `job_log_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '任务日志ID',
  `job_name` varchar(64) NOT NULL COMMENT '任务名称',
  `job_group` varchar(64) NOT NULL COMMENT '任务组名',
  `invoke_target` varchar(500) NOT NULL COMMENT '调用目标字符串',
  `job_message` varchar(500) DEFAULT NULL COMMENT '日志信息',
  `status` char(1) DEFAULT '0' COMMENT '执行状态（0正常 1失败）',
  `exception_info` varchar(2000) DEFAULT '' COMMENT '异常信息',
  `start_time` datetime DEFAULT NULL COMMENT '执行开始时间',
  `end_time` datetime DEFAULT NULL COMMENT '执行结束时间',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  PRIMARY KEY (`job_log_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='定时任务调度日志表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_log`
--

LOCK TABLES `sys_job_log` WRITE;
/*!40000 ALTER TABLE `sys_job_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_logininfor`
--

DROP TABLE IF EXISTS `sys_logininfor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_logininfor` (
  `info_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '访问ID',
  `user_name` varchar(50) DEFAULT '' COMMENT '用户账号',
  `ipaddr` varchar(128) DEFAULT '' COMMENT '登录IP地址',
  `login_location` varchar(255) DEFAULT '' COMMENT '登录地点',
  `browser` varchar(50) DEFAULT '' COMMENT '浏览器类型',
  `os` varchar(50) DEFAULT '' COMMENT '操作系统',
  `status` char(1) DEFAULT '0' COMMENT '登录状态（0成功 1失败）',
  `msg` varchar(255) DEFAULT '' COMMENT '提示消息',
  `login_time` datetime DEFAULT NULL COMMENT '访问时间',
  PRIMARY KEY (`info_id`),
  KEY `idx_sys_logininfor_s` (`status`),
  KEY `idx_sys_logininfor_lt` (`login_time`)
) ENGINE=InnoDB AUTO_INCREMENT=119 DEFAULT CHARSET=utf8 COMMENT='系统访问记录';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_logininfor`
--

LOCK TABLES `sys_logininfor` WRITE;
/*!40000 ALTER TABLE `sys_logininfor` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_logininfor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_menu`
--

DROP TABLE IF EXISTS `sys_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_menu` (
  `menu_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '菜单ID',
  `menu_name` varchar(50) NOT NULL COMMENT '菜单名称',
  `parent_id` bigint(20) DEFAULT '0' COMMENT '父菜单ID',
  `order_num` int(4) DEFAULT '0' COMMENT '显示顺序',
  `path` varchar(200) DEFAULT '' COMMENT '路由地址',
  `component` varchar(255) DEFAULT NULL COMMENT '组件路径',
  `query` varchar(255) DEFAULT NULL COMMENT '路由参数',
  `route_name` varchar(50) DEFAULT '' COMMENT '路由名称',
  `is_frame` int(1) DEFAULT '1' COMMENT '是否为外链（0是 1否）',
  `is_cache` int(1) DEFAULT '0' COMMENT '是否缓存（0缓存 1不缓存）',
  `menu_type` char(1) DEFAULT '' COMMENT '菜单类型（M目录 C菜单 F按钮）',
  `visible` char(1) DEFAULT '0' COMMENT '菜单状态（0显示 1隐藏）',
  `status` char(1) DEFAULT '0' COMMENT '菜单状态（0正常 1停用）',
  `perms` varchar(100) DEFAULT NULL COMMENT '权限标识',
  `icon` varchar(100) DEFAULT '#' COMMENT '菜单图标',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT '' COMMENT '备注',
  PRIMARY KEY (`menu_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3116 DEFAULT CHARSET=utf8 COMMENT='菜单权限表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_menu`
--

LOCK TABLES `sys_menu` WRITE;
/*!40000 ALTER TABLE `sys_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_notice`
--

DROP TABLE IF EXISTS `sys_notice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_notice` (
  `notice_id` int(4) NOT NULL AUTO_INCREMENT COMMENT '公告ID',
  `notice_title` varchar(50) NOT NULL COMMENT '公告标题',
  `notice_type` char(1) NOT NULL COMMENT '公告类型（1通知 2公告）',
  `notice_content` longblob COMMENT '公告内容',
  `status` char(1) DEFAULT '0' COMMENT '公告状态（0正常 1关闭）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(255) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`notice_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COMMENT='通知公告表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_notice`
--

LOCK TABLES `sys_notice` WRITE;
/*!40000 ALTER TABLE `sys_notice` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_notice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_notice_read`
--

DROP TABLE IF EXISTS `sys_notice_read`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_notice_read` (
  `read_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '已读主键',
  `notice_id` int(4) NOT NULL COMMENT '公告id',
  `user_id` bigint(20) NOT NULL COMMENT '用户id',
  `read_time` datetime NOT NULL COMMENT '阅读时间',
  PRIMARY KEY (`read_id`),
  UNIQUE KEY `uk_user_notice` (`user_id`,`notice_id`) COMMENT '同一用户同一公告只记录一次'
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='公告已读记录表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_notice_read`
--

LOCK TABLES `sys_notice_read` WRITE;
/*!40000 ALTER TABLE `sys_notice_read` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_notice_read` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_oper_log`
--

DROP TABLE IF EXISTS `sys_oper_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_oper_log` (
  `oper_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '日志主键',
  `title` varchar(50) DEFAULT '' COMMENT '模块标题',
  `business_type` int(2) DEFAULT '0' COMMENT '业务类型（0其它 1新增 2修改 3删除）',
  `method` varchar(200) DEFAULT '' COMMENT '方法名称',
  `request_method` varchar(10) DEFAULT '' COMMENT '请求方式',
  `operator_type` int(1) DEFAULT '0' COMMENT '操作类别（0其它 1后台用户 2手机端用户）',
  `oper_name` varchar(50) DEFAULT '' COMMENT '操作人员',
  `dept_name` varchar(50) DEFAULT '' COMMENT '部门名称',
  `oper_url` varchar(255) DEFAULT '' COMMENT '请求URL',
  `oper_ip` varchar(128) DEFAULT '' COMMENT '主机地址',
  `oper_location` varchar(255) DEFAULT '' COMMENT '操作地点',
  `oper_param` varchar(2000) DEFAULT '' COMMENT '请求参数',
  `json_result` varchar(2000) DEFAULT '' COMMENT '返回参数',
  `status` int(1) DEFAULT '0' COMMENT '操作状态（0正常 1异常）',
  `error_msg` varchar(2000) DEFAULT '' COMMENT '错误消息',
  `oper_time` datetime DEFAULT NULL COMMENT '操作时间',
  `cost_time` bigint(20) DEFAULT '0' COMMENT '消耗时间',
  PRIMARY KEY (`oper_id`),
  KEY `idx_sys_oper_log_bt` (`business_type`),
  KEY `idx_sys_oper_log_s` (`status`),
  KEY `idx_sys_oper_log_ot` (`oper_time`)
) ENGINE=InnoDB AUTO_INCREMENT=215 DEFAULT CHARSET=utf8 COMMENT='操作日志记录';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_oper_log`
--

LOCK TABLES `sys_oper_log` WRITE;
/*!40000 ALTER TABLE `sys_oper_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_oper_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_post`
--

DROP TABLE IF EXISTS `sys_post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_post` (
  `post_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '岗位ID',
  `post_code` varchar(64) NOT NULL COMMENT '岗位编码',
  `post_name` varchar(50) NOT NULL COMMENT '岗位名称',
  `post_sort` int(4) NOT NULL COMMENT '显示顺序',
  `status` char(1) NOT NULL COMMENT '状态（0正常 1停用）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`post_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8 COMMENT='岗位信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_post`
--

LOCK TABLES `sys_post` WRITE;
/*!40000 ALTER TABLE `sys_post` DISABLE KEYS */;
INSERT INTO `sys_post` VALUES (1,'ceo','董事长',1,'0','admin','2026-05-30 03:26:32','',NULL,''),(2,'se','项目经理',2,'0','admin','2026-05-30 03:26:32','',NULL,''),(3,'hr','人力资源',3,'0','admin','2026-05-30 03:26:32','',NULL,''),(4,'user','普通员工',4,'0','admin','2026-05-30 03:26:32','',NULL,'');
/*!40000 ALTER TABLE `sys_post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_role`
--

DROP TABLE IF EXISTS `sys_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_role` (
  `role_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '角色ID',
  `role_name` varchar(30) NOT NULL COMMENT '角色名称',
  `role_key` varchar(100) NOT NULL COMMENT '角色权限字符串',
  `role_sort` int(4) NOT NULL COMMENT '显示顺序',
  `data_scope` char(1) DEFAULT '1' COMMENT '数据范围（1：全部数据权限 2：自定数据权限 3：本部门数据权限 4：本部门及以下数据权限）',
  `menu_check_strictly` tinyint(1) DEFAULT '1' COMMENT '菜单树选择项是否关联显示',
  `dept_check_strictly` tinyint(1) DEFAULT '1' COMMENT '部门树选择项是否关联显示',
  `status` char(1) NOT NULL COMMENT '角色状态（0正常 1停用）',
  `del_flag` char(1) DEFAULT '0' COMMENT '删除标志（0代表存在 2代表删除）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COMMENT='角色信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_role`
--

LOCK TABLES `sys_role` WRITE;
/*!40000 ALTER TABLE `sys_role` DISABLE KEYS */;
INSERT INTO `sys_role` VALUES (1,'超级管理员','admin',1,'1',1,1,'0','0','admin','2026-05-30 03:26:32','',NULL,'超级管理员'),(2,'普通角色','common',2,'2',1,1,'0','0','admin','2026-05-30 03:26:32','',NULL,'普通角色'),(3,'ERP管理员','erp_manager',0,'1',1,1,'0','0','admin','2026-05-31 12:19:44','','2026-05-31 12:20:12',NULL);
/*!40000 ALTER TABLE `sys_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_role_dept`
--

DROP TABLE IF EXISTS `sys_role_dept`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_role_dept` (
  `role_id` bigint(20) NOT NULL COMMENT '角色ID',
  `dept_id` bigint(20) NOT NULL COMMENT '部门ID',
  PRIMARY KEY (`role_id`,`dept_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='角色和部门关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_role_dept`
--

LOCK TABLES `sys_role_dept` WRITE;
/*!40000 ALTER TABLE `sys_role_dept` DISABLE KEYS */;
INSERT INTO `sys_role_dept` VALUES (2,100),(2,101),(2,105);
/*!40000 ALTER TABLE `sys_role_dept` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_role_menu`
--

DROP TABLE IF EXISTS `sys_role_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_role_menu` (
  `role_id` bigint(20) NOT NULL COMMENT '角色ID',
  `menu_id` bigint(20) NOT NULL COMMENT '菜单ID',
  PRIMARY KEY (`role_id`,`menu_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='角色和菜单关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_role_menu`
--

LOCK TABLES `sys_role_menu` WRITE;
/*!40000 ALTER TABLE `sys_role_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_role_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user`
--

DROP TABLE IF EXISTS `sys_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_user` (
  `user_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '用户ID',
  `dept_id` bigint(20) DEFAULT NULL COMMENT '部门ID',
  `user_name` varchar(30) NOT NULL COMMENT '用户账号',
  `nick_name` varchar(30) NOT NULL COMMENT '用户昵称',
  `user_type` varchar(2) DEFAULT '00' COMMENT '用户类型（00系统用户）',
  `email` varchar(50) DEFAULT '' COMMENT '用户邮箱',
  `phonenumber` varchar(11) DEFAULT '' COMMENT '手机号码',
  `sex` char(1) DEFAULT '0' COMMENT '用户性别（0男 1女 2未知）',
  `avatar` varchar(100) DEFAULT '' COMMENT '头像地址',
  `password` varchar(100) DEFAULT '' COMMENT '密码',
  `status` char(1) DEFAULT '0' COMMENT '账号状态（0正常 1停用）',
  `del_flag` char(1) DEFAULT '0' COMMENT '删除标志（0代表存在 2代表删除）',
  `login_ip` varchar(128) DEFAULT '' COMMENT '最后登录IP',
  `login_date` datetime DEFAULT NULL COMMENT '最后登录时间',
  `pwd_update_date` datetime DEFAULT NULL COMMENT '密码最后更新时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COMMENT='用户信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user`
--

LOCK TABLES `sys_user` WRITE;
/*!40000 ALTER TABLE `sys_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user_post`
--

DROP TABLE IF EXISTS `sys_user_post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_user_post` (
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `post_id` bigint(20) NOT NULL COMMENT '岗位ID',
  PRIMARY KEY (`user_id`,`post_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='用户与岗位关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user_post`
--

LOCK TABLES `sys_user_post` WRITE;
/*!40000 ALTER TABLE `sys_user_post` DISABLE KEYS */;
INSERT INTO `sys_user_post` VALUES (1,1),(2,2),(3,2);
/*!40000 ALTER TABLE `sys_user_post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user_role`
--

DROP TABLE IF EXISTS `sys_user_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_user_role` (
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `role_id` bigint(20) NOT NULL COMMENT '角色ID',
  PRIMARY KEY (`user_id`,`role_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='用户和角色关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user_role`
--

LOCK TABLES `sys_user_role` WRITE;
/*!40000 ALTER TABLE `sys_user_role` DISABLE KEYS */;
INSERT INTO `sys_user_role` VALUES (1,1),(2,2),(3,3);
/*!40000 ALTER TABLE `sys_user_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'ry-vue'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-01 15:44:51
