-- MySQL dump 10.13  Distrib 5.7.44, for Win64 (x86_64)
--
-- Host: localhost    Database: ry-vue
-- ------------------------------------------------------
-- Server version	5.7.44-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `erp_customer`
--

LOCK TABLES `erp_customer` WRITE;
/*!40000 ALTER TABLE `erp_customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_supplier`
--

LOCK TABLES `erp_supplier` WRITE;
/*!40000 ALTER TABLE `erp_supplier` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_warehouse`
--

LOCK TABLES `erp_warehouse` WRITE;
/*!40000 ALTER TABLE `erp_warehouse` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_warehouse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_material`
--

LOCK TABLES `erp_material` WRITE;
/*!40000 ALTER TABLE `erp_material` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_material` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_material_sku`
--

LOCK TABLES `erp_material_sku` WRITE;
/*!40000 ALTER TABLE `erp_material_sku` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_material_sku` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_style`
--

LOCK TABLES `erp_style` WRITE;
/*!40000 ALTER TABLE `erp_style` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_style` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_style_sku`
--

LOCK TABLES `erp_style_sku` WRITE;
/*!40000 ALTER TABLE `erp_style_sku` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_style_sku` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_style_bom`
--

LOCK TABLES `erp_style_bom` WRITE;
/*!40000 ALTER TABLE `erp_style_bom` DISABLE KEYS */;
INSERT INTO `erp_style_bom` (`bom_id`, `bom_no`, `style_id`, `style_no`, `version_no`, `bom_status`, `effective_date`, `audit_by`, `audit_time`, `create_by`, `create_time`, `update_by`, `update_time`, `remark`) VALUES (37,'KDS-FLOW-001-BOM-V1',33,'KDS-FLOW-001','V1','1','2026-06-01','admin','2026-06-01 15:48:19','admin','2026-06-01 15:48:19','',NULL,'T恤标准BOM'),(38,'KDS-FLOW-002-BOM-V1',34,'KDS-FLOW-002','V1','1','2026-06-01','admin','2026-06-01 15:48:19','admin','2026-06-01 15:48:19','',NULL,'卫衣标准BOM');
/*!40000 ALTER TABLE `erp_style_bom` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_style_bom_detail`
--

LOCK TABLES `erp_style_bom_detail` WRITE;
/*!40000 ALTER TABLE `erp_style_bom_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_style_bom_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_purchase_order`
--

LOCK TABLES `erp_purchase_order` WRITE;
/*!40000 ALTER TABLE `erp_purchase_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_purchase_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_purchase_order_detail`
--

LOCK TABLES `erp_purchase_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_purchase_order_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_purchase_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_inbound_order`
--

LOCK TABLES `erp_inbound_order` WRITE;
/*!40000 ALTER TABLE `erp_inbound_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_inbound_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_inbound_order_detail`
--

LOCK TABLES `erp_inbound_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_inbound_order_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_inbound_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_outbound_order`
--

LOCK TABLES `erp_outbound_order` WRITE;
/*!40000 ALTER TABLE `erp_outbound_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_outbound_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_outbound_order_detail`
--

LOCK TABLES `erp_outbound_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_outbound_order_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_outbound_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_inventory`
--

LOCK TABLES `erp_inventory` WRITE;
/*!40000 ALTER TABLE `erp_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_inventory_transaction`
--

LOCK TABLES `erp_inventory_transaction` WRITE;
/*!40000 ALTER TABLE `erp_inventory_transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_inventory_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_production_order`
--

LOCK TABLES `erp_production_order` WRITE;
/*!40000 ALTER TABLE `erp_production_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_production_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_production_order_detail`
--

LOCK TABLES `erp_production_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_production_order_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_production_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_cut_order`
--

LOCK TABLES `erp_cut_order` WRITE;
/*!40000 ALTER TABLE `erp_cut_order` DISABLE KEYS */;
INSERT INTO `erp_cut_order` (`cut_order_id`, `cut_order_no`, `production_order_id`, `production_order_no`, `sales_order_id`, `sales_order_no`, `customer_id`, `customer_name`, `plan_finish_time`, `finish_time`, `total_qty`, `cut_status`, `create_by`, `create_time`, `update_by`, `update_time`, `remark`) VALUES (4,'CJ20260601154843',8,'MO-DEMO-001',NULL,NULL,35,'杭州星芽童装品牌有限公司','2026-06-08 00:00:00',NULL,300.000,0,'admin','2026-06-01 15:48:43','',NULL,'由生产订单 MO-DEMO-001 生成');
/*!40000 ALTER TABLE `erp_cut_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_cut_order_detail`
--

LOCK TABLES `erp_cut_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_cut_order_detail` DISABLE KEYS */;
INSERT INTO `erp_cut_order_detail` (`cut_detail_id`, `cut_order_id`, `cut_order_no`, `production_order_detail_id`, `style_id`, `sku_id`, `style_no`, `style_name`, `color_name`, `size_name`, `plan_qty`, `cut_qty`, `create_by`, `create_time`, `update_by`, `update_time`, `remark`) VALUES (9,4,'CJ20260601154843',7,33,82,'KDS-FLOW-001','云朵印花短袖T恤','象牙白','110',120.000,0.000,'admin','2026-06-01 15:48:43','',NULL,NULL),(10,4,'CJ20260601154843',8,33,83,'KDS-FLOW-001','云朵印花短袖T恤','象牙白','120',180.000,0.000,'admin','2026-06-01 15:48:43','',NULL,NULL);
/*!40000 ALTER TABLE `erp_cut_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_sales_order`
--

LOCK TABLES `erp_sales_order` WRITE;
/*!40000 ALTER TABLE `erp_sales_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_sales_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_sales_order_detail`
--

LOCK TABLES `erp_sales_order_detail` WRITE;
/*!40000 ALTER TABLE `erp_sales_order_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_sales_order_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_delivery_order`
--

LOCK TABLES `erp_delivery_order` WRITE;
/*!40000 ALTER TABLE `erp_delivery_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_delivery_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_quality_check`
--

LOCK TABLES `erp_quality_check` WRITE;
/*!40000 ALTER TABLE `erp_quality_check` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_quality_check` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_sewing_report`
--

LOCK TABLES `erp_sewing_report` WRITE;
/*!40000 ALTER TABLE `erp_sewing_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_sewing_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `erp_cutting_order`
--

LOCK TABLES `erp_cutting_order` WRITE;
/*!40000 ALTER TABLE `erp_cutting_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `erp_cutting_order` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-01 15:48:55
